body{
    background-color: #CBD8EC ;
    text-align: center;
}
header{
    text-align:center;
    color:#09296f;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:x-large;
}
#user_info{
    background-color: #E2EDF3;
    width: 300px;
    height: 250px;
    border: 2px;
    padding: 50px;
    padding-left: 30px;
    margin: 20px auto;
    border-radius: 30px;
    text-align:left;
}
.info{
    width:300px;
    height:30px;
    border: 2px solid rgb(216, 209, 209);
    padding: 4px;
    margin: 5px; 
    border-radius: 10px;
}
.info_label{
    font-size:large;

}
#button{
    width:300px;
    height:40px;
    border: 2px solid rgb(232, 234, 242);
    background-color: rgb(177, 177, 220);
    padding: 4px;
    margin: 5px; 
    border-radius: 10px;
}

